.problem-name {
  font-weight: bold;
  margin: 5px;
}
.problem-launch {
  /*float: right*/
}

.problem-card {
  padding: 5px;
  border-color: #95d4ff;
  border-style: solid;
  border-radius: 5px;
}

.problems-panel {
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}


.terminal-window {
  background-color: black;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  /*TODO починить размеры терминала*/
  width: 800px;
  height: 700px;
  overflow-y: auto;
}

.terminal-content {
  padding: 10px;
}

.terminal-record {
}
